extends layout

block header
	title= 'Create Line Art - Linify'
	meta(property="og:url", content='http://linify.me')
	meta(property="og:title", content='Create Line Art')
	meta(property="og:description", content='Generate line art from an image using only straight lines.')
	meta(name="description" content="Linify generates line art from an image using only straight lines.")
	
block content
	#drawWrapper
		#canvi
			canvas#lCanvas
			canvas#centerCanvas
		#sizeDiv
			button#size
				i.fa.fa-expand.fa-2x
			button#rSize
				i.fa.fa-compress.fa-2x
	#rightCol
		form#form(autocomplete= 'off')
			#topInput.settings
				.formHeader
					|Select Image
				.input
					input#url(type= 'url', placeholder= 'Enter image URL')
				#or
					|--OR--
				.input
					input#file(type= 'file', accept='image/*')
					label#fileLabel.button(for='file')
						i.fa.fa-file-image-o
						|  Import Image
			#options.settings
				.formHeader
					|Options
				.input
					input(type='radio', id='color', name='color', checked)
					label.option(for='color') Color 
						i.fa.fa-question-circle.quest
						.tut
							| Color generates an image consisting of red green and blue lines, while Grayscale consists only of gray lines.
					input(type='radio', id='add', name='add')
					label.option(for='add') Black 
						i.fa.fa-question-circle.quest
						.tut
							| Black draws line onto black background, while White draws line onto white background.
				.input
					input(type='radio', id='gray', name='color')
					label.option(for='gray') Grayscale
					input(type='radio', id='sub', name='add', checked)
					label.option(for='sub') White
				.input
					span.desc Tightness 
						i.fa.fa-question-circle.quest
						.tut
							| Number of lines to be drawn. Color actually draws ~3x this number.
					input#numLines(type='text', value=1)
				.input
					span.desc Amplitude 
						i.fa.fa-question-circle.quest
						.tut
							| Must be within 1-255. Higher numbers draw heavier lines. No impact on performance.
					input#lineStep(type='text', value=1)
				.input
					span.desc Frequency 
						i.fa.fa-question-circle.quest
						.tut
							| Number of tests to run before each line is drawn. Higher numbers yield higher quality pictures.
					input#testLines(type='text', value=200)
				.input
					input(type='checkbox' id='hiRes')
					label.option(for='hiRes')
						| High Resolution 
						i.fa.fa-question-circle.quest
						.tut
							|  Takes ~3x longer and uses 4x more memory, but yields higher quality. Proceed with caution.
			#draw.settings
				.input
					button.button(type='submit')
						i.fa.fa-paint-brush
						|  Draw!
		#ds.settings
			.input
				a#dLink.button
					i.fa.fa-download
					|  Download
				span#spacer
				button#sLink.button
					i.fa.fa-cloud-upload
					|  Save
block scripts
	script(src='javascripts/FileSaver.min.js')
	script.
		var form = document.getElementById('form');
		form.addEventListener('submit', submitFunc, false);
		getSettings();

		var radius = 0;
		var amplitude = 0;
		var sampleRate = 0;
		var add = null;
		var full = null;
		var cors = false;
		var workers = [];
		var playing = false;
		var shared = false;
		var rafID = 0;
		var cRatioX = 0.5;
		var cRatioY = 0.5;
		
		var cWidth = 0;
		var cHeight = 0;

		var lDisplay = document.getElementById('lCanvas');
		var lContext = lDisplay.getContext('2d');
		lDisplay.width = 1024;
		lDisplay.height = 1024;
		
		var cCanvas = document.getElementById('centerCanvas');
		var cContext = cCanvas.getContext('2d');
		cCanvas.width = 1024;
		cCanvas.height = 1024;
		
		var size = document.getElementById('size');
		size.addEventListener('click', sizeFunc, false);
		
		var rSize = document.getElementById('rSize');
		rSize.addEventListener('click', rSizeFunc, false);
		
		var image = new Image();
		image.crossOrigin = 'anonymous';
		image.onload = function() {			
			if(form.elements[2].checked === true) {
				var color = true;
			} else {
				var color = false;
			}
			
			if(form.elements[9].checked === true) {
				var hiRes = true;
			} else {
				var hiRes = false;
			}
			form[10].innerHTML = '<i class="fa fa-paint-brush"></i> Draw!'
			process(image, color);
			URL.revokeObjectURL(image.src);
		}
		image.addEventListener('error', function(e) {
			e.preventDefault();
			if(cors === false) {
				image.src = '/p/' + url.value;
			}
			if(cors === true) {
				if(workers.length != 0) {
					for(var i=0; i<workers.length; i++) {
						workers[i].terminate();
					}
					workers = [];
				}
				
				lContext.save();
				lContext.clearRect(0,0,1024,1024);
				lContext.font = "48px sans-serif";
				lContext.globalCompositeOperation = 'source-over';
				lContext.fillStyle = 'red';
				lContext.fillText("Error: Please ensure URL or file is an image", 12, 48)
				lContext.restore();
				
				form[10].innerHTML = '<i class="fa fa-paint-brush"></i> Draw!'
			}
			cors = true;
		}, false);

		cCanvas.addEventListener('click', centerDraw, false);

		var fileInput = document.getElementById('file');
		var fileLabel = document.getElementById('fileLabel');
		fileInput.addEventListener('change', function(e) {
			if(this.files.length) {
				fileLabel.innerHTML = '<i class="fa fa-file-image-o"></i> ' + e.target.value.split('\\').pop();
			} else {
				fileLabel.innerHTML = '<i class="fa fa-file-image-o"></i> Import Image';
			}

		}, false);

		var ds = document.getElementById('ds');

		var dLink = document.getElementById('dLink');
		dLink.href = 'Download';
		dLink.addEventListener('click', dLinkFunc, false);
		
		var sLink = document.getElementById('sLink');
		sLink.addEventListener('click', sLinkFunc, false);