doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		meta(property="og:site_name" content='Linify')
		link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
		link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
		link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="/manifest.json")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="msapplication-TileColor", content="#da532c")
		meta(name="msapplication-TileImage", content="/mstile-144x144.png")
		meta(name="theme-color", content="#ffffff")
		block header
	body
		#header
			#hWrap
				#leftHeader
					a(href='/')
						img#logo(src= '/images/linify.png' alt='Linify')
					block create
				#rightHeader
					#social
						#facebook
							div(class="fb-like" data-href="https://www.facebook.com/linifyme" data-layout="button" data-action="like" data-show-faces="false" data-share="false")
						#twitter
							a(href="https://twitter.com/LINIFYme" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true")
					a(href='/about')#about About
		#wrapper
			#content
				block content
		script(src='javascripts/linesv2.js')
		block scripts
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-74493057-2', 'auto');
			ga('send', 'pageview');
		script.
			window.fbAsyncInit = function() {
				FB.init({
					appId: '1129645813736608',
					xfbml: true,
					version: 'v2.5'
				});
			};
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		script(src='https://platform.twitter.com/widgets.js', async)