extends layout

block header
	title= 'Line Art - Linify'
	meta(property="og:url", content='http://linify.me/' + imgur)
	meta(property="og:image", content='http://imgur.com/' + imgur + '.png')
	meta(property="og:image:width", content=width)
	meta(property="og:image:height", content=height)
	meta(property="og:title", content='Line Art')
	meta(property="og:description", content='Computer-generated art using only straight lines.')
	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:image", content='http://imgur.com/' + imgur + '.png')
	meta(name="twitter:site", content="@LINIFYme")
	meta(name="twitter:title", content="Line Art")
	meta(name="twitter:description", content="Computer-generated art using only straight lines.")
	meta(name="description" content="Computer-generated art using only straight lines.")

block create
	a#create.button(href='/') Create Your Own!

block content
	#drawWrapper
		canvas#canvas
		canvas#lCanvas
		#sizeDiv
			button#size
				i.fa.fa-expand.fa-2x
			button#rSize
				i.fa.fa-compress.fa-2x
	#rightCol
		#topInput.settings
			.formHeader
				|Share
			.share
				.linkDesc Share Link
				input.shareLink(type="text", value='http://linify.me/' + imgur, readonly)
			.share
				.linkDesc Imgur Link
				input.shareLink(type="text", value='http://imgur.com/' + imgur, readonly)
			.input
				button#fb.button
					i.fa.fa-facebook
					|  Share
				span#spacer
				a#tw.button
					i.fa.fa-twitter
					|  Tweet
		.settings
			.input
				button#rLink.button
					i.fa.fa-repeat
					|  Replay
				span#spacer
				a.button(href='http://imgur.com/' + imgur + '.png', download)
					i.fa.fa-download
					|  Download
		.settings
			.formHeader
				|Stats
			.input
				#lineStat.linkDesc Number of Lines: 
			.input
				.linkDesc Line Heaviness: !{lineStep}
block scripts
	script.
		var playing = false;
		var lineStep = !{lineStep};
		
		var cWidth = !{width};
		var cHeight = !{height};
		
		var display = document.getElementById('canvas');
		var dContext = display.getContext('2d');
		var lineString = '!{lines}';
		var add = !{add};
		
		var lDisplay = document.getElementById('lCanvas');
		var lContext = lDisplay.getContext('2d');

		var rafID = 0;

		if(cWidth == 1024 || cHeight == 1024) {
			var hiRes = 1;
		} else {
			var hiRes = 0;
		}

		if(hiRes) {
			display.width = cWidth/2;
			display.height = cHeight/2;
			lDisplay.width = cWidth;
			lDisplay.height = cHeight;
		} else {
			display.width = cWidth;
			display.height = cHeight;
			lDisplay.width = cWidth * 2;
			lDisplay.height = cHeight * 2;
		}

		var size = document.getElementById('size');
		size.addEventListener('click', sizeFunc, false);
		
		var rSize = document.getElementById('rSize');
		rSize.addEventListener('click', rSizeFunc, false);
		
		var shareLinks = document.getElementsByClassName('shareLink');
		for(var i=0; i < shareLinks.length; i++) {
			shareLinks[i].addEventListener('click', function(e) {
				this.select();
			});
		}

		var raw = window.atob(lineString);
		lineString = null;
		var array = new Uint8Array(raw.length);
		for(var i=0; i < raw.length; i++) {
			array[i] = raw.charCodeAt(i);
		}
		raw = null;
		
		var lineStat = document.getElementById('lineStat');
		if(hiRes) {
			if(array[0] == 0) {
				lineStat.innerHTML = "Number of Lines: " + array.length/4;
			} else {
				lineStat.innerHTML = "Number of Lines: " + Math.floor(array.length/12);
			}
		} else {
			if(array[0] >> 6 == 0) {
				lineStat.innerHTML = "Number of Lines: " + array.length/3;
			} else {
				lineStat.innerHTML = "Number of Lines: " + Math.floor(array.length/9);
			}
		}
		
		prepCanvas(hiRes);
		new reconstructLines(array);
		
		var rLink = document.getElementById('rLink');
		rLink.addEventListener('click', function(e) {
			if(playing === false) {
				prepCanvas(hiRes);
				new reconstructLines(array);
			}
		}, false);
		
		var fb = document.getElementById('fb');
		fb.addEventListener('click', function(e) {
			FB.ui({
				method: 'share',
				href: window.location.href
			}, function(r){});
		}, false);
		
		var tw = document.getElementById('tw');
		tw.href = 'https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&via=' + encodeURIComponent('LINIFYme');