* {
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode" , sans-serif;
	color: white;
}

a {
	text-decoration: none;
	color: #0095dd;
}

p {
	width: 40em;
	margin-left: 4em;
}

h2 {
	margin-left: 1.5em;
}

a:hover {
	text-decoration: underline;
}

body {
	background-color: rgb(55, 55, 55);
	text-align: center;
}

#wrapper {
	display: inline-block;
	max-width: 1000px;
}

#content {
	display: inline-block;	
	margin-top: 86px;
	background-color: rgb(110,110,110);
	border-radius: 8px;
	padding: 5px;
	box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}

#insp {
	display: inline-block;
	background-color: rgb(110,110,110);
	border-radius: 8px;
	padding: 5px;
	box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
	max-width: 892px;
	margin: 12px;
}

#inspHeader {
	text-align: left;
	font-size: 1.3em;
	font-weight: 700;
	margin-left: 20px;
}

#drawWrapper {
	display: inline-block;
	position: relative;
}

#rightCol {
	display: inline-block;
	vertical-align: top;
	margin: 15px;
}

#sizeDiv {
	position: relative;
	text-align: right;
	margin-top: -24px;
}

#size {
	cursor: pointer;
	border: none;
	background-color: transparent;
	display: inline-block;
	vertical-align: top;
}

#rSize {
	display: none;
	cursor: pointer;
	border: none;
	background-color: transparent;
	vertical-align: top;
}

.settings {
	background-color: rgb(55,55,55);
	border-radius: 8px;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 19em;
	white-space: nowrap;
	box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
	margin-top: 8px;
}

#topInput {
	margin-top: 0px;
}

#form input[type="radio"] {
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-right: 4px;
}

#form input[type="checkbox"] {
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-right: 4px;
}

#form input[type="text"] {
	background-color: white;
	color: black;
	font-size: 1.1em;
	vertical-align: middle;
	width: 100px;
	text-align: right;
	margin-left: 18px;
}

#or {
	font-size: 1.3em;
}

#file {
	width: 1px;
	height: 1px;
	margin: -1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file:focus + #fileLabel {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#fileLabel:focus {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.formHeader {
	border-bottom: 2px solid rgb(110,110,110);
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
	font-size: 1.3em;
	padding-bottom: 4px;
	font-weight: 700;
	margin-bottom: 6px;
}

.button {
	font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: #d3394c;
    display: inline-block;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
	cursor: pointer;
	border: none;
}

.button:active {
	background-color: #B33040;
	box-shadow: none;
	transition: background-color 0.1s ease-in-out;
}

.button:focus {
	outline: 1px dotted #212121;
	outline: -webkit-focus-ring-color auto 5px;
}

.button:hover {
	text-decoration: none;
}

#fb {
	background-color: #3b5998;
}

#fb:active {
	background-color: #314B80;
}

#tw {
	background-color: #55acee;
}

#tw:active {
	background-color: #4993CC;
}

#spacer {
	width: 12px;
	display: inline-block;
}

.input {
	margin: 7px;
}

.share {
	margin: 7px;
	text-align: left;
}

.option {
	vertical-align: middle;
	font-size: 1.2em;
	display: inline-block;
	width: 0;
	margin-right: 8em;
	cursor: pointer;
	position: relative;
}

.tut {
	text-align: left;
	color: yellow;
	display: none;
	position: absolute;
	font-size: 0.75em;
	width: 200px;
	white-space: normal;
	background-color: rgba(0,0,0,0.85);
	z-index: 3;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.quest:hover + .tut {
	display: block;
}

.desc {
	vertical-align: middle;
	font-size: 1.2em;
	display: inline-block;
	width: 9em;
	text-align: left;
}

.linkDesc {
	font-size: 1.2em;
	margin-bottom: 3px;
}

.shareLink {
	color: black;
	font-size: 1em;
	text-align: left;
	width: 16.5em;
	margin-left: 1.5em;
}

.iWrap {
	text-align: center;
}

.example {
	display: inline-block;
	margin: 6px;
}

.insp {
	margin: 6px;
	border: 2px solid rgb(55,55,55);
}

#url {
	font-size: 1.1em;
	color: black;
	width: 100%;
}

#canvi {
	position: relative;
	margin: 15px;
}

#lCanvas {
	background-color: rgb(255,255,255);
	width: 512px;
}

#centerCanvas {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

#unBound {
	background-color: rgb(255,255,255);
}

#header {
	text-align: center;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(55,55,55);
	border-bottom: 2px solid rgb(110,110,110);
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.4);
}

#hWrap {
	display: inline-block;
	width: 1000px;
}

#leftHeader {
	float: left;
}

#logo {
	margin-top: 2px;
}

#create {
	vertical-align: 100%;
	margin-left: 15px;
}

#rightHeader {
	float: right;
	margin-top: 10px;
}

#social {
	display: inline-block;
	vertical-align: middle;
}

#twitter {
}

#facebook {
	margin-bottom: 5px;
}

#about {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 1em;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#ds {
	display: none;
}

#aboutText {
	text-align: left;
	padding: 8px;
	padding-top: 0px;
}

#error {
	width: 892px;
	text-align: left;
}